@font-face {
  font-family: 'NeueMontreal';
  src: url(fonts/NeueMontreal-Regular.otf);
}

:root{
  --bgcolor: rgba(0, 100, 100, 1);
}

html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  cursor: crosshair;
  overflow: auto;
  /* background-image: url('0edit3.jpg'); */
  background-color: #E6E6E6;
}
.splash{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(225, 225, 225, 1);
  transition: all ease-in-out 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.hidden{
  transition: 0.5s;
  display: none;
}
.splash-header{
  font-family: 'NeueMontreal', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: gray;
  display: flex;
  flex-direction: row;
}
.splash-name{
  font-family: 'NeueMontreal', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: black;
}
.headimg{
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 2.5rem;
  user-select: none;
  z-index: 2;
}
.header-text{
  padding-top: 2rem;
  display: flex;
  user-select: none;
  flex-direction: column;
  z-index: 2;
}
.pages{
  padding-top: 0.8rem;
  z-index: 2;
}
.pageimg{
  border: solid white 1px;
}
.content{
  padding-top: 2rem;
  padding-left: 15%;
}



A:link,
A:active {
 font: 14px verdana,sans-serif;
 color: #333;
 font-weight: bold;
 text-decoration: none;
 cursor: crosshair;
}
A:visited {
 font: 14px verdana,sans-serif;
 color: #333;
 font-weight: bold;
 text-decoration: none;
}
A:hover {
 font: 14px verdana,sans-serif;
 color: #ccc;
 font-weight: bold;
 background-color: #333;
}
A.ver10:link,
A:active {
 font: 14px verdana,sans-serif;
 color: #fff;
 font-weight: bold;
 text-decoration: none;
}
A.ver10:visited {
 font: 10px verdana,sans-serif;
 color: #50aef6;
 font-weight: bold;
 text-decoration: none;
}
A.ver10:hover {
 font: 10px verdana,sans-serif;
 color: #666;
 font-weight: bold;
 background-color: #6cf;
}
BODY {
 font: 9px verdana,sans-serif;
 color: #fff;
 font-weight: normal;
}
TD,
TH,
.BOD,
FONT {
 font: 9px verdana,sans-serif;
 color: #000;
 font-weight: normal;
}
header{
  display: flex;
  z-index: 2;
}
main{
  position: relative;
  z-index: 3;
  width: 60%;
}
iframe{
  position: relative;
}


.text {
 font: 9px verdana,sans-serif;
 color: #333;
 font-weight: normal;
}
.title {
 font: 14px verdana,arial,helvetica,sans-serif;
 color: #333;
 font-weight: normal;
}
.ver10 {
 font: 11px verdana,arial,helvetica,sans-serif;
 color: #000;
}
.red {
 font: 10px verdana,arial,helvetica,sans-serif;
 color: #f33;
}
.subtle {
 font: 9px verdana,arial,helvetica,sans-serif;
 color: #666;
}
.name {
  font: 3rem 'NeueMontreal', verdana,arial,helvetica,sans-serif;
  color: #333;
  font-weight: normal;
}
.subtext {
  font: 1rem 'NeueMontreal', verdana,arial,helvetica,sans-serif;
  color: #333;
}
.resume {
  font: 3rem 'NeueMontreal', verdana,arial,helvetica,sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.projecthead {
  font: 16px verdana,arial,helvetica,sans-serif;
  color: #333;
  font-weight: bold;
}

/* CONTACT */
.cf-form {
  margin-bottom: 1rem;
}

.contact-title {
  font: 14px verdana,arial,helvetica,sans-serif;
  color: #333;
  font-weight: bold;
  /* text-align: center; */
}

.cf-body {
  margin: 0;
  font-family: 'NeueMontreal', verdana,arial,helvetica,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.cf-form-group {
  margin-bottom: 1rem;
}

.cf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  margin-top: 0.2rem;
}

.cf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cf-form-control:focus {
  border: 1px solid #313131;
}

select.cf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.cf-form-control {
  font-family: 'NeueMontreal', verdana,arial,helvetica,sans-serif;
  height: auto;
}

label.cf-label {
  font: 14px verdana,arial,helvetica,sans-serif;
  display: inline-block;
  margin-top: 0.5rem;
  color:#333;
}

.cf-btn {
  margin-top: 1rem;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .cf-btn {
      transition: none;
  }
}

.cf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.cf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.cf-btn-primary {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.cf-btn-primary:hover {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

.cf-btn-primary:focus, .fcf-btn-primary.focus {
  color: #fff;
  background-color: #777;
  border-color: #777;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.cf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0rem;
}

.cf-btn-block {
  display: block;
  width: 100%;
}

.cf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].cf-btn-block, input[type="reset"].cf-btn-block, input[type="button"].cf-btn-block {
  width: 100%;
}

 /* SWUP */
.transition-fade{
  opacity: 1;
  transition: 300ms;
  transform: translateX(0%);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(2%);
}

html.is-leaving .transition-fade {
  opacity: 0;
}

#container {
  position: relative;
  height: 100vh;
  width: 100%;
  /* border: solid 1px red; */ 
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper {
  background-color: transparent;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -120px; /* the bottom margin is the negative value of the footer's total height */
  padding-left: 5%;
  width: 50%;
  z-index: 3;
}
#wrapper:after {
  content: "";
  display: block;
  height: 120px; /* the footer's total height */
}
#footer {
  position: absolute;
  height: 110px;
  bottom: 0;
  left: 0;
  padding-left: 2rem;
  padding-bottom: 1rem;
  z-index: 1;
}
#frame{
  width:50rem;
  height:65rem;
}

/* THREE JS */
#globe{
  left: 25%;
}

.slide {
  display: block;
  position: absolute;
  height: 200px !important;
  width: 200px !important;
  background: red;
}

/* THREE JS */
canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}